body {
  margin: 0;
  padding: 0;
  color: #5f5157;
}

main {
  flex: 1;
  overflow-y: auto;
  background-color: #d2d3cc;
}

/* .MuiSlider-thumb {
   background-color: white;
}

.MuiSlider-rail {
  background-color: wheat;
} */